<div class="layout">

  <!-- SIDEBAR -->
  <aside class="sidebar">
    <div class="logo">
      🐾 <span>Smart Pet</span>
    </div>

    <nav>
      <a routerLink="/dashboard" routerLinkActive="active">Health Monitoring</a>
      <a routerLink="/feeding" routerLinkActive="active">Feeding Management</a>
      <a routerLink="/about" routerLinkActive="active">About Us</a>
    </nav>

    <div class="user-email" *ngIf="auth.currentUser() as user">
      {{ user.email }}
    </div>
    <button type="button" class="logout" (click)="logout()">
      Logout
    </button>
  </aside>

  <!-- PAGE CONTENT -->
  <main class="content">
    <router-outlet></router-outlet>
  </main>

</div>
